* {
  margin: 0;
  padding: 0;
  font-family: var(--text-font-secondary);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body,
h2 {
  margin: 0;
  padding: 0;
}

:root {
  --text-font-primary: 'Quicksand', sans-serif;
  --text-font-secondary: 'Roboto Slab', Georgia, "Times New Roman", Times, serif;

  --text-light: #000;
  --text-dark: #fff;
  --text-gray: #566573;

  --text-title:#A20000;
  --text-subtitle:#660000;

  --navbar-dark: #000;
  --navbar-light: #A78C57;

  --background-dark:#17202A;
  --background-light: #f8ecd5;
}